/* style.css */

/* Общие стили для всех страниц */
body {
    font-family: Arial, sans-serif;
}

/* Стили для конкретных страниц */
body.page-1 {
    background-color: #f8f9fa; /* Light gray */
}

body.page-2 {
    background-color: #e9ecef; /* Gray */
}

body.page-3 {
    background-color: #dee2e6; /* Dark gray */
}

body.page-4 {
    background-color: #ced4da; /* Light blue gray */
}

body.page-5 {
    background-color: #adb5bd; /* Blue gray */
}